

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: burlywood;
    
}

li, a, button {

    font-family: 'Oswald', sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    padding: 15px 35px;
    line-height: 35px;
    font-size: 42px;
}


.fa-comment {
    padding-left: 12px;
}


.nav_links {
    list-style: none;
    
}



.nav_links li {
    display: inline-block;
    padding: 0px 20px;    background: #263238;
}

.nav_links li a {
    transition:  all 0.6s ease 0s;
}

.nav_links li a:hover {
    transition:  all 0.6s ease 0s;
    color: #0088a9;
}

button {
    padding: 9px 25px;
    margin-left: 20px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.6s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}