
        <%- include("partials/header") %>
        <%- include('partials/navbar') %>

        <h1>Welcome to the home page!</h1>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
            <p>We sell the best <%= pastry %> in the city!</p>

            <%- include('partials/footer') %>