

body {
    margin: o;
    padding:0;
}

ul {
    display: block;
    height: 70px;
    text-align: center;
    background: #01579B;
    overflow: hidden;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}




ul li {
    display: block;
    float: left;
    text-align: center;
    
    
}

ul li a {
    color: white;
    display: block;
    padding: 10px;
    height: 70px;
    width: 287px;
   

    

}


ul li ul li {
    display: inline-block;
    border: none;
}



ul li:hover ul li {
    display: block;
    float: none;
     
}

a {
    text-decoration: none;
    
}