@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
  background-color: #bebfe3
}
.container {
  margin:auto; 
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100vw;
  height:100vh;
}

.circle {
  background-color: #139334;
  width: 500px;
  height:500px;
  border-radius: 50%;
  postion: absolute;
  top: 20px;
  left: 212px;
  z-index:-2;}
  
.head{
  background-color: #ffc587;
    height:320px;
    width: 305px;
  border-radius: 130px;
  position: absolute;
  top: 150px;
  left:310px;  
}
.hat {background-color: #d80506;
width:300px;
height:300px;
  border-radius: 85px 200px 85px 250px;
  box-shadow: inset 0 5px 10px white;
  transform:rotate(-45deg);
  position:absolute;
  top:25px;
  left:320px;
  z-index; -2;
}
.logo{
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius:50%;
  box-shadow: inset 0 5px 10px #e0e0e0;
  position: absolute;
  top:70px;
  left: 425px;
}
.m-logo {
  font-family: 'Carter one', cursive;
  font-size: 50px;
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  padding-top: 5%;
}

.hat1 {
  width: 220px;
  height: 45px;
  background-color: #9b1006;
  box-shadow: inset 0px 5px 15px #f72028;
  -webkit-border-radiuus: 50% 50% 50% 50% / 80% 80% 30% 30%;
  position: absolute;
  top: 145px;
  left: 355px;
}

.left-eyebrow {
  width: 85px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 20px 20px 0 0 #3f2a14;
  transform: rotate(-125deg);
  position: absolute;
  top: 205px;
  left: 469px;
}
.right-eyebrow {
  width: 85px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 20px 20px 0 0 #3f2a14;
  transform: rotate(-135deg);
  position: absolute;
  top: 205px;
  left: 360px
  
}

.left-eye {
  background-color: white;
  width: 60px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 380px;
}

.left-iris { 
  background-image: radial-gradient( white, #0c7ed2, #0b489f );
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute; 
  top: 255px;
  left: 390px;
}


.innereye1 {
  background-color: black;
  width: 33px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 274px;
  left: 400px;
}



.highlight1 {
  background-color: white;
  width: 10px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 280px;
  left: 413px;
}

.right-eye {
  background-color: white;
  width: 60px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 480px;
}

.right-iris {
  background-image: radial-gradient(white, #0c7ed2, #0b489f);
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 255px;
  left: 480px;
}

.innereye2 {
  background-color: black;
  width: 33px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 274px;
  left: 485px;
}

.highlight2 {
  background-color: white;
  width: 10px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 280px;
  left: 495px;
}

.nose {
  background-color: #ffcf87;
  width: 120px;
  height: 70px;
  border-radius: 50%;
  box-shadow: inset 10px 0 20px #ffd987;
  position: absolute;
  top: 320px;
  left: 400px;
}

.mustache1 {
  height: 30px;
  width: 65px;
  border-radius: 0 0 90px 90px;
  background: #3f2a14;
  position: absolute;
  top: 365px;
  left: 360px;
  transform: rotate(15deg);
}

.mustache2 {
  height: 35px;
  width: 70px;
  border-radius: 0 0 90px 90px;
  background: #3f2a14;
  position: absolute;
  top: 372px;
  left: 405px;
  transform: rotate(05deg);
}

.mustache3 {
  height: 35px;
  width: 70px;
  border-radius: 0 0 90px 90px;
  background: #3f2a14;
  position: absolute;
  top: 375px;
  left: 455px;
  transform: rotate(01deg);
}

.mustache4
{
  height: 30px;
  width: 65px;
  border-radius: 0 0 90px 90px;
  background: #3f2a14;
  position: absolute;
  top: 371px;
  left: 497px;
  transform: rotate(-14deg);

}

.hair1 {
  background-color: #652121;
  width: 30px;
  height: 100px;
  border-radius: 80px 10px 30px 30px;
  position: absolute;
  top: 200px;
  left: 310px;
}

.hair2 {
  background-color:
  #652121;
  width: 30px;
  height: 100px;
  border-radius: 10px 80px 30px 30px;
  position: absolute;
  top: 200px;
  left: 585px;
}

.mouth {
  height: 60px;
  width: 80px;
  border-radius: 0 0 90px 90px;
  background: black;
  position: absolute;
  top: 394px;
  left: 422px;
}

.teeth {
  background-color: white;
  width: 75px;
  height: 15px;
  border-radius: 5px;
  position: absolute;
  top: 398px;
  left: 425px;
}


.tongue {
  height:30px;
  width: 55px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 421px;
  left: 435px;
}

.left-ear {
  background-color: #ffc587;
  width: 50px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(-10deg);
  position: absolute;
  top: 255px;
  left: 270px;
}

.innerear1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 #ffac54;
  transform: rotate(140deg);
  position: absolute;
  top:290px;
  left: 288px;
}

.right-ear {
  background-color: #ffc587;
  width: 50px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(10deg);
  position: absolute;
  top: 255px;
  left: 605px;
}

.innerear2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 #ffac54;
  transform: rotate(-45deg);
  position: absolute;
  top: 290px;
  left: 605px;

}

.shirt {
  height: 65px; 
  width: 300px;
  border-radius: 90px 90px 0 0;
  background: #d80506;
  position: absolute;
  top: 455px;
  left: 315px;
}

.left-strap {
  background-color: #0048ba;
  width: 40px;
  height: 70px;
  position: absolute;
  top: 450px;
  left: 380px;
}

.right-strap 
{
  background-color: #0048ba;
  width: 40px;
  height: 70px;
  position: absolute;
  top: 450px;
  left:505px;
}

.left-button {
  background-color: #ffdf00;
  width: 30px;
  height: 20px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 500px;
  left: 385px;
}

.right-button {
  background-color: #ffdf00;
  width: 30px;
  height: 20px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 500px;
  left: 510px;
}
