body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}


/*hes making a full size one this is adding to that play with a verious for you*/
#slider, .wrap, .slide-content{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 100vh;
overflow-x: hidden; /*scrollbar hide*/
}


.wrap {
    position: relative;
}



/* SLIDE CSS BEGINS HERE */

.slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.slide1{
    background-image: url('images/1.jpg');
}


.slide2{
    background-image: url('images/2.jpg');
}

.slide3{
    background-image: url('images/3.jpg');
}





/* text shit end */


/* Arrows start */
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
  /*   margin-top: -35px; */
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
    border-width:30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width:30px 0px 30px 40px;
    border-color: transparent transparent transparent white;
    right: 0;
    margin-right: 30px;
}

/* Arrow End */